{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-json-strings"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "chrome >= 52",
            "ie >= 10"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ]
}